[Unit]
Description=Tizen System Updater
DefaultDependencies=no
OnFailure=reboot.target
Requires=systemd-remount-fs.service connman.service
After=systemd-remount-fs.service connman.service

[Service]
Type=oneshot
StandardInput=tty-force
StandardOutput=tty-force
RemainAfterExit=no
ExecStart=/usr/bin/system-update
