[Unit]
Description=Tizen System Updater for %i
DefaultDependencies=no
OnFailure=reboot.target
Requires=systemd-remount-fs.service plymouth-update.service dbus.service
After=systemd-remount-fs.service plymouth-update.service dbus.service

[Service]
Type=oneshot
#StandardInput=tty-force
StandardOutput=tty-force
RemainAfterExit=no
ExecStart=/usr/bin/system-update %i
